@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.skill-pill:hover {
  transform: scale(1.05);
}

.nav-link {
  position: relative;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: oklch(54.1% 0.281 293.009);
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.hero-bg {
  background: oklch(29.1% 0.149 302.717);

}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #a6bee6;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.3);
}

#home {
  background-image: url(../img/sky-bg.png);
  background-size: cover;
}

.large-header {
  position: relative;
  width: 100%;
  overflow: hidden;
}

#demo-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  /* Allow clicks to pass through */
}

.content-wrapper {
  position: relative;
  z-index: 2;
  /* Ensure content is above canvas */
}

#home_buttons,
#large-header .md\:w-1\/2 {
  position: relative;
  z-index: 2;
  /* ensure above canvas */
}


.eyes-container {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/seamless-space.png);
  background-color: black;
  margin: 0;
  overflow: hidden;
  animation: background-scroll 100s linear infinite;
  flex-direction: column;
}

.theeye {
  margin: 0px 20px;
  height: 100px;
  aspect-ratio: 1;
  background-color: white;
  outline: 10px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thepupil {
  height: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.theinside {
  height: 25px;
  aspect-ratio: 1;
  background-color: black;
  border-radius: 50%;
}



@keyframes background-scroll {
  from {
    background-position-x: -1000%;
  }
}


.astronaut {
  transition: 4s;
  cursor: pointer;
  z-index: 20;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.eyes-position {
  display: flex;
  justify-content: center;
  align-items: center;
}

@-webkit-keyframes x {
  100% {
    -webkit-transform: translateX(calc(100vw - 200px));
    transform: translateX(calc(100vw - 300px));
  }
}

@keyframes x {
  100% {
    -webkit-transform: translateX(calc(100vw - 200px));
    transform: translateX(calc(100vw - 300px));
  }
}

@-webkit-keyframes y {
  100% {
    -webkit-transform: translateY(calc(100vh - 300px));
    transform: translateY(calc(100vh - 300px));
  }
}

@keyframes y {
  100% {
    -webkit-transform: translateY(calc(100vh - 300px));
    transform: translateY(calc(100vh - 300px));
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
    transform: scale(1);
  }

  50% {
    opacity: 1;
    transform: scale(1.1);
  }

  100% {
    opacity: 0;
    transform: scale(1.2);
  }
}

@-webkit-keyframes pulse {
  0% {
    opacity: 0;
    transform: scale(1);
  }

  50% {
    opacity: 1;
    transform: scale(1.2);
  }

  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}

/* projects section  */
.section.four.section_to-pin {
  height: 100vh;
  left: 0;
  display: block;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}
#projects .container {
  position: sticky;
  top: 0;
  z-index: 10;
  padding-top: .5rem;
}
.section.four.section_to-pin .section_pin {
  height: 75vh;
  padding: 0px 12vw 50px 1vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.section.four.section_to-pin .section_pin .content_wrapper {
  min-width: 777px;
  padding: 0vw 6vw 0vw 50px;
}

.section.four.section_to-pin .section_pin .project_wrapper {
  min-width: 60vw;
  padding: 0vw 6vw 0vw 6vw;
  position: relative;
  opacity: 0.7;
  transition: opacity 0.3s cubic-bezier(0.51, 0.18, 0, 0.88);
}

.section.four.section_to-pin .section_pin .project_wrapper .project_image {
  width: 85%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.section.four.section_to-pin .section_pin .project_wrapper.active {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .section.four.section_to-pin .section_pin .content_wrapper {
    min-width: 414px;
  }

}


/* modal sound */
  .modal {
    transition: opacity 0.25s ease;
    z-index: 60;

  }
  body.modal-active {
    overflow-x: hidden;
    overflow-y: visible !important;
  }
  .sound-question span{
      position: relative;
      overflow: hidden;
      display: block;
      line-height: 1.2;
  }

  .sound-question span::after{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: oklch(90.5% .182 98.111);
      animation: a-ltr-after 2s cubic-bezier(.77,0,.18,1) forwards;
      transform: translateX(-101%);
  }
  
  .sound-question span::before{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: oklch(21% .034 264.665);
      animation: a-ltr-before 2s cubic-bezier(.77,0,.18,1) forwards;
      transform: translateX(0);
  }

  .sound-question span:nth-of-type(1)::before,
  .sound-question span:nth-of-type(1)::after{
      animation-delay: 1s;
  }

  .sound-question span:nth-of-type(2)::before,
  .sound-question span:nth-of-type(2)::after{
      animation-delay: 1.5s;
  }

  @keyframes a-ltr-after{
      0% {transform: translateX(-100%)}
      100% {transform: translateX(101%)}
  }

  @keyframes a-ltr-before{
      0% {transform: translateX(0)}
      100% {transform: translateX(200%)}
  }